frontend/n8n_workflow_fixed.json
{
    "name": "AMI - Agentic Market Intelligence (Fixed)",
    "nodes": [
        {
            "parameters": {
                "fileFormat": "csv",
                "options": {}
            },
            "id": "695f78e5-345b-45b5-ad24-bf4d111f37e1",
            "name": "Parse CSV File",
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 2,
            "position": [
                512,
                -48
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Berapa harga pasaran {{ $json.item_name }} di indonesia \"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"google_search\": {}\n    }\n  ]\n} ",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                944,
                128
            ],
            "id": "b61a8589-ad85-46b6-a035-3b7340ec917b",
            "name": "HTTP Request (Gemini)",
            "credentials": {
                "googlePalmApi": {
                    "id": "52TQEbFxkrMJSc8r",
                    "name": "Google Gemini(PaLM) Api account 3"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload",
                "responseMode": "responseNode",
                "options": {
                    "binaryData": true
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                288,
                128
            ],
            "id": "a3de3419-2726-4305-87e8-210c7e2e5f52",
            "name": "Webhook (Upload)1",
            "webhookId": "d06bd5f9-d4a1-4ad7-a86f-b4e232a4272a"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1232,
                112
            ],
            "id": "00542e59-8d8c-452f-8e96-0c6f27497389",
            "name": "Respond to Webhook1"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [
                496,
                128
            ],
            "id": "f49cc941-7214-49fb-9252-95ad780f0d70",
            "name": "Extract from File"
        }
    ],
    "pinData": {},
    "connections": {
        "Parse CSV File": {
            "main": [
                []
            ]
        },
        "HTTP Request (Gemini)": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Upload)1": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Parse CSV File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "HTTP Request (Gemini)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "b91dee0b-0c9b-4cf1-8890-d6b48f1974a4",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "962b0677a91f6fb52d13c5495cea8f5f5c18c3ff1a865a73e9a9037ac9ef8093"
    },
    "id": "kPN906JgyvlEUR5R",
    "tags": []
}